/*------------------------------------------------------------------
[Table of contents]
    1. Colors
        1.1 Primary
        1.2 Black
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
1. Colors
    1.1 Primary
*/

$violet:        hsl(257, 40%, 49%);
$soft-magenta:  hsl(300, 69%, 71%);

/*------------------------------------------------------------------
1. Colors
    1.2 Black
*/

$black:         hsl(0, 0%, 0%);